#cloud-config

hostname: ubuntu
ssh_pwauth: false

users:
  - default
  - name: pi
    gecos: Raspberry Pi admin
    groups: users, admin
    shell: /bin/bash
    ssh_import_id:
      - gh:yerzhan0
    passwd: $6$xyz$lrzkz89JCrvzOPr56aXfFFqGZpBReOx5ndDu9m5CwVFWjZsEIhvVm.I5B4zMxJdcdTyAvncwjKT.dWcD/ZHIo.
    sudo:
      - ALL=(ALL) NOPASSWD:ALL