#cloud-config

hostname: ubuntu

users:
  - default
  - name: pi
    gecos: Raspberry Pi admin
    primary_group: pi
    groups: users, admin
    ssh_import_id:
      - gh:yerzhan0
    passwd: $6$1uv3s/hmYKgdh2RE$3jNwTdfs3NEu9xBeoHAPF2qH.7fWWqFUBYF0zGzjAOlQ21qsHu/1.HqQOnz9JaeoKWYdSb0c4DoVrF.nxmwc71
    sudo:
      - ALL=(ALL) NOPASSWD:ALL